.page {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  animation: infinite linear 4s slide-in;
  user-select: none;
}

@keyframes slide-in {
    0% {
        transform: rotate(2deg);
        
    }
    25% {
        transform: rotate(0deg);
        transform: translateY(-5px);
    }
    50% {
        transform: rotate(-2deg);
        transform: translateY(5px);
    }
    100% {
        transform: rotate(2deg);
    }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 14px;
  border-radius: 24px;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(16px);

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

iframe {
  width: 220px;
  height: 100px;
  border: none;
  border-radius: 16px;
}

@media (max-width: 700px) {
  iframe {
    width: 100%;
    max-width: 100%;
    height: 220px;
  }

  .card {
    width: 90%;
  }
}
