.page {
  padding: 140px 0px 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 100%;
  max-width: 900px;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.06);
  border: 1px solid rgba(0,0,0,0.08);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  background: #fff;
  padding: 40px;
  border-radius: 32px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.06);
  border: 1px solid rgba(0,0,0,0.08);
}
.cardPhoto {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 900px;
  background: #fff;
  padding: 40px;
  border-radius: 32px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.06);
  border: 1px solid rgba(0,0,0,0.08);
  align-self: center;
  margin-right: 10px;
}

h1 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 20px;
}

.card span {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  column-gap: 10px;

}

select {
  cursor: pointer;
  color: #666;
}

input,
textarea,
select {
  width: 100%;
  padding: 14px 16px;
  border-radius: 14px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
}

textarea {
  resize: none;
  margin-bottom: 24px;
}

button {
  padding: 14px 28px;
  border-radius: 999px;
  background: #111;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-left: auto;
  transition: all .2s ease;
}

button:hover {
  background: none;
  color: #111;
}

.tgItem {
  transition: transform .2 ease;
}

.tgWrapper:focus-within .tgItem {
  transform: rotate(360deg);
}

.photoUpload {
  width: 100%;
  height: 100%;
  border: 2px dashed #ccc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  padding: 15px;
  color: #666;
}

.photoUpload:hover {
  border-color: #000;
  color: #000;
}


@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.userPhoto {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  z-index: 1;
}